<!Doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css')}}" type="text/css">
    <link href="{{ url_for('static', filename='logo.ico') }}" type="image/x-icon" rel="icon"/>
    <title>Toto</title>
    <script>
        function openBoardForm(event) {
            const relative_x = event.clientX;
            const relative_y = event.clientY;
            const board_form = document.getElementById("board_form");
            board_form.style.top = `${relative_y}px`;
            board_form.style.left = `${relative_x}px`;
            board_form.style.display = "block";
        }

        function closeBoardForm() {
            const board_form = document.getElementById("board_form");
            board_form.style.display = "none";
        }

        function checkSpace(event) {
            if(event.which == 32) {
                event.preventDefault();
                return false;
            }
        }
    </script>
</head>
<body>
    <header class="index-item is-horizontal-align">
        <img id="logo" src="{{ url_for('static', filename='logo.svg') }}", alt="Toto logo", width="110", height="70"/>
        <h1>Toto</h1>
    </header>
    <section class="index-item">
        
        <div class="tab bg-primary is-full-width is-rounded">
            <span class="text-white">Boards</span>
            <span class="text-white" id="board_button" onclick="openBoardForm(event)">[+] New board</span>
        </div>

        <div id="table" class="bd-primary bg-terciary is-full-width is-rounded">
            <div class="row">
                {% for board in boards %}
                    <div class="col-3 is-center"><a href="{{ board.abbreviation }}">{{ board.name }}</a></div>
                {% endfor %}
            </div>
        </div>

        <div class="tab bg-primary is-full-width is-rounded">
            <span class="text-white">Trending posts</span>
        </div>

        <div id="table" class="bd-primary bg-terciary is-full-width is-rounded">
            <div class="row">
                {% for key, post in posts.items() %}
                <div class="col-3 text-center">
                    <p><b>{{ post.title }}</b></p>
                    <a href="{{ '{0}/{1}'.format(key, post.id) }}">
                        {% if post.filename.split('.')[-1] in ('jpg', 'png', 'jpeg', 'gif') %}
                        <img src="{{ url_for('static', filename='images/' + post.filename) }}" alt="" class="Image">
                        {% elif  post.filename.split('.')[-1] in ('mp4', 'mkv') %}
                        <video class="Image" controls>
                            <source src="{{ url_for('static', filename='videos/' + post.filename) }}">
                        </video>
                        {% endif %}
                    </a>
                    <p>{{ post.content }}</p>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <hr class="index-item is-rounded" />
    <footer class="bg-terciary is-rounded index-item bd-primary">
        <p class="text-center">
            <a href="https://github.com/malinest/Toto">Repository</a> • <a href="https://github.com/malinest/Toto">Source code</a> • <a href="https://github.com/malinest/Toto/issues">Report an issue</a>
        </p>
    </footer>
    <div id="board_form" class="card bd-primary bg-terciary">
        <header>
            <h4>Create board</h4>
        </header>
        <form action="/api/create_board" method="post" enctype="multipart/form-data">
            <section>
                <div class="row">
                    <div class="col-6">
                        <input type="text" placeholder="Board name" maxlength="20" name="board_name" onkeypress="checkSpace(event)" required>
                    </div>
                    <div class="col-6">
                        <input type="text" placeholder="Abbreviation" maxlength="2" name="abbreviation" onkeypress="checkSpace(event)" required>
                    </div>
                </div>
            </section>
            <footer class="is-center">
                <input type="submit" value="Submit">
                <button type="reset" onclick="closeBoardForm()">Close</button>
            </footer>
        </form>
    </div>
</body>
</html>