<!Doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='post.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ url_for('static', filename='logo.ico') }}" type="image/x-icon" rel="icon" />
    <script type="text/javascript">
        //Replace this function in the future for something more readable/optimized
        function imageEventListeners() {
            const images = document.getElementsByClassName("Image");
            const imageViewer = document.getElementById("imageViewer");
            const imageViewer_image = document.getElementById("imageViewer_image");
            for (let image of images) {
                image.addEventListener("click", () => {
                    imageViewer.style.display = "flex";
                    imageViewer_image.src = image.src;
                })
            }
        }

        function closeImage() {
            const imageViewer = document.getElementById("imageViewer");
            imageViewer.style.display = "none";
        }

        function openCommentForm(element) {
            const input = document.getElementById("input-id");
            const commentForm = document.getElementById("comment-form");
            const responseTo = document.getElementById("response-to");
            input.value = element.text;
            responseTo.value = element.text;
            commentForm.style.display = "block";
        }

        function closeCommentForm() {
            const commentForm = document.getElementById("comment-form");
            commentForm.style.display = "none";
        }
    </script>
    <title>{{ post.id }} - Toto</title>
</head>
<body onload="imageEventListeners()">
    <nav class="nav bg-terciary">
        <div class="nav-left">

        </div>
        <div class="nav-center">
            <a href="/" class="brand">
                <img src="{{ url_for('static', filename='logo.svg') }}" alt="Logo" class="hide-xs hide-sm">
                {{ "/{0}/ {1}".format(board.abbreviation, board.name) }} 
            </a>
        </div>
        <div class="nav-right">
            <a href="">Sign up</a>
            <a href="">Log in</a>
        </div>
    </nav>
    <section>
        <div class="post bg-terciary is-full-width is-rounded bd-primary" name="{{ post.id }}">
            <div class="post-info is-vertical-align">
                {% if post.media %}
                <div class="filename">
                    Filename: <a>{{ post.filename }}</a>
                </div>
                {% endif %}
            </div>
            <div class="post-content">
                <div class="media">
                    <img src="data:image;base64,{{ post.media.decode('utf-8') }}" alt="" class="Image">
                </div>
                <div class="flex-container">
                    <div class="post-title">
                        <span style="color: blue;">{{ post.title }}</span> <span style="color: green;">{{ post.username }}</span> {{ post.date }} No.<a id="post-id" onclick="openCommentForm(this)">{{ post.id }}</a>
                    </div>
                    <div class="post-text">{{ post.content }}</div>
                </div>
            </div>
            <div class="post-comments">
                {% for comment in post.comments %}
                <hr />
                <div class="post" id="{{ comment._id }}">
                    <div class="post-info is-vertical-align">
                        {% if comment.media %}
                        <div class="filename">
                            Filename: <a>{{ comment.filename }}</a>
                        </div>
                        {% endif %}
                    </div>
                    <div class="post-content">
                        <div class="media">
                            <img src="data:image;base64,{{ comment.media.decode('utf-8') }}" alt="" class="Image">
                        </div>
                        <div class="flex-container">
                            <div class="post-title">
                                <span style="color: green;">{{ comment.username }}</span> {{ comment.date }} No.<a id="post-id" onclick="openCommentForm(this)">{{ comment._id }}</a>
                            </div>
                            {% if comment.response_to %}
                            <div class="responding-to"><a href="#{{ comment.response_to }}">>{{ comment.response_to }}</a></div>
                            {% endif %}
                            <div class="post-text">{{ comment.content }}</div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <div id="imageViewer" onclick="closeImage()">
        <img src="" alt="Image" id="imageViewer_image">
    </div>
    <div id="comment-form", class="card bd-primary bg-terciary">
        <header>
            <h4>Create comment</h4>
        </header>
        <form action="/api/create_comment?board={{ board.collection_name }}" method="post" enctype="multipart/form-data">
            <section>
                <input type="text" id="input-id" name="id">
                <div class="row">
                    <div class="col-6">
                        <input type="text" placeholder="Response id" name="response_to" id="response-to">
                    </div>
                    <div class="col-6">
                        <input type="text" value="Anonymous" size="20" name="username">
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <textarea placeholder="Comment content" name="content" rows="5"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <label for="media">Image</label>
                        <input type="file" name="media"></input>
                    </div>
                </div>
            </section>
            <footer class="is-center">
                <input type="submit" value="Submit">
                <button type="reset" onclick="closeCommentForm()">Close</button>
            </footer>
        </form>
    </div>
</body>
</html>