@import url("chota.css");

nav {
    border-bottom: 2px solid var(--color-secondary);
}

nav > .nav-left > a {
    cursor: pointer;
}

section {
    padding: 10px;
}

.post {
    margin: 5px auto;
    display: flex;
    flex-direction: column;
    padding: 10px 10px 10px 10px;
    max-height: 300px;
}

.post > .post-content {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    height: 100%;
}

.post .flex-container {
    display: flex;
    flex-direction: column;
}

.post > .post-info {
    margin-bottom: 5px;
}

.post .minimize-button {
    cursor: pointer;
    height: 20px;
    width: 20px;
    margin-right: 5px;
}

.post .filename {
    font-size: 1.1rem;
    margin-right: 5px;
}

.post .filename .num-comments {
    cursor: pointer;
}

.post .post-title {
    font-size: 1.4rem;
}

.post-title a {
    cursor: pointer;
}

.post .post-text {
    width: 40vw;
    overflow: auto;
    font-size: 1.2rem;
    white-space: pre-line;
}

.post > .post-content > .media {
    margin-right: 10px;
}

.post > .post-content > .media > .Image {
    max-height: 200px;
    max-width: 400px;
    cursor: pointer;
}

#imageViewer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto auto;
    width: 100vw;
    height: 100vh;
    display: none;
    background-color: rgba(0, 0, 0, 0.8);
}

#imageViewer > #imageViewer_image{
    max-width: 100vw;
    max-height: 100vh;
}

#post_form {
    width: fit-content;
    height: auto;
    display: none;
    position: absolute;
    top: 60px;
    left: 10px;
}

#post_form section {
    font-size: small;
}

#post_form a {
    font-size: small;
}

#post_form .row {
    max-width: 300px;
}

#post_form textarea {
    min-width: 100%;
    max-width: 100%;
}

#post_form footer input {
    margin: 0 5px;
}

#comment-form {
    width: fit-content;
    height: auto;
    display: none;
    position: fixed;
    left: 83.5%;
    top: 65px;
}

#comment-form #input-id {
    display: none;
}

#comment-form section {
    font-size: small;
}

#comment-form a {
    font-size: small;
}

#comment-form .row {
    max-width: 300px;
}

#comment-form textarea {
    min-width: 100%;
    max-width: 100%;
}

#comment-form footer input {
    margin: 0 5px;
}